html {
  font-family: 'Georgia';
  color: #282848;
}

table {
  font-size: 0.8rem;
  margin: 2%;
  border-radius: 4px;
  perspective: 1px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  overflow: hidden;
}

th {
  color: royalblue;
  text-align: center;
  border-bottom: 1px solid #686888;
  background-color: #eeeeee;
  padding: 8px;
}

tr {
  border-collapse: separate;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

td {
  text-align: center;
  padding: 8px;
}

#main {
  font-size: 1.2rem;
  color: royalblue;
  font-weight: bold;
}

#name, #age {
  height: 24px;
  text-indent: 6px;
  font-size: 0.8rem;
}

.label {
  color: indianred;
}
