<!DOCTYPE html>
<html>

  <head>
    <title>Flask jQuery Table Example</title>
    <link href='app.css' rel='stylesheet'>
    <link href='#' rel='shortcut icon'>
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='app.js'></script>
  </head>

  <body>
    <p id='main'>Welcome, table viewer.</p>

    <div>
      <span class='label'>New name:</span> <input id='name'></input>
      <span class='label'>  Age:</span> <input id='age'></input>
    </div>

    <p>The current data:</p>

    <div id='content'>

    <div id='tbl'></div>
      <p id='click' style='display:none'>
        <span>That is </span>
        <span id='detail'></span>
        <span> you just clicked.</span>
      </p>
    </div>
    
  </body>

</html>
