<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <link href='app.css' rel='stylesheet'>
  </head>
  <body>
    <div>
      <p>{{ message }}</p>
      <p>My Contacts:</p>
      {{ table|safe }}
      <!-- <table id='names'>
        <tr>
          {% for key, value in records[0].items() %}
            <th>{{ key }}</th>
          {% endfor %}
        </tr>
        {% for row in records %}
          <tr>
            <td>{{ row['name'] }}</td>
            <td>{{ row['age'] }}</td>
          </tr>
        {% endfor %}
      </table> -->
    </div>
  </body>
</html>
